$primary-background-color: #FFF3F4;
$secondary-background-color: #FFF1EC;
$footer-background-color: #1A3987;

$primary-orange-color: #F26628;
$secondary-orange-color: #FF855A;;

$white-text-color: #F1F1F3;
$regular-text-color: #616161;

$primary-blue-color: #14296C;

$primary-green-color: #9AD7D0;

$blue-text-color: #1A3987;
$light-yellow-color: #FFE1AD;
