@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}